<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="tt-toolbar">Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="card-sobre">
    <ion-card-header>
      <ion-card-title class="title-s">Sobre mim</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="text-p">
        Olá! Meu nome é <strong class="text-s">Murilo Peres Leite Vieira</strong>.  
        Sou estudante do curso <strong class="text-s"> Superior de Tecnologia em Análise e Desenvolvimento de Sistemas, </strong> tenho 20 anos, sou curioso, criativo e persistente.
        tenho facilidade em aprender coisas novas e gosto de buscar soluções práticas para os desafios que encontro. 
        Sou detalhista, procuro sempre organizar bem meu trabalho e me preocupo com o visual e a qualidade do que produzo.
        Além disso, gosto de me desafiar constantemente, explorar novas ideias e transformar aprendizado em prática.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-sobre">
    <ion-card-header>
      <ion-card-title class="title-s">Sobre a disciplina</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="text-p">
        Esta disciplina tem como objetivo desenvolver habilidades em
        <strong class="text-s">Desenvolvimento Mobile com Ionic e Angular</strong>, permitindo
        a criação de aplicações modernas e responsivas.  
        Ao longo do curso, exploramos conceitos fundamentais, ferramentas e boas práticas
        essenciais para a formação profissional na área de desenvolvimento de software.
      </p>
    </ion-card-content>
  </ion-card>

    <ion-button expand="block" (click)="showPageHome()">Voltar</ion-button>


</ion-content>